.home{
    display: flex;
    .homeContainer{
        flex: 85%;
        .create{
            padding-top: 10%;
            .btn-create-cate{
                margin-left: 40%;
                margin-bottom: 5px;
                width: 100px;
                height: 40px;
            }
            .btn-back-cate{
                margin-left: 5px;
                margin-bottom: 5px;
                width: 100px;
                height: 40px;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .home{
        display: flex;
        .homeContainer{
            flex: 70%;
            .create{
                padding-top: 10px;

                .btn-create-cate{
                    margin-left: 30%;
                    margin-bottom: 5px;
                    width: 100px;
                    height: 40px;
                }
                .btn-back-cate{
                    margin-left: 5px;
                    margin-bottom: 5px;
                    width: 100px;
                    height: 40px;
                }

                
            }
        }
    }  
}
@media screen and (max-width: 750px) {
    .home{
        display: flex;
        .homeContainer{
            flex: 40%;
            .create{
                padding-top: 10px;

                .btn-create-cate{
                    margin-left: 20%;
                    margin-bottom: 5px;
                    width: 100px;
                    height: 40px;
                }
                .btn-back-cate{
                    margin-left: 5px;
                    margin-bottom: 5px;
                    width: 100px;
                    height: 40px;
                }
            }
        }
    }    
}
@media screen and (max-width: 500px) {
    .home{
        display: flex;
        .homeContainer{
            flex: 40%;
            .create{
                padding-top: 10px;
                .btn-create-cate{
                    margin-left: 30%;
                    margin-bottom: 5px;
                    width: 100px;
                    height: 40px;
                }
                .btn-back-cate{
                    margin-left: 5px;
                    margin-bottom: 5px;
                    width: 100px;
                    height: 40px;
                }
            }
        }
    }    
}
//sx={{ marginLeft: 60, marginBottom: 1 }} sx={{ marginLeft: 1, marginBottom: 1 }}